* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: ghostwhite ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:grey;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

section {
    margin-bottom: 40px;
    border: 1px white;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #333;
}

li {
    margin-bottom: 10px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

footer p {
    color: #fff;
    font-size: 14px;
}

nav {
    background-color: grey;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    font-size: 22px;
}

nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.lineu{
    display: flex;
    padding: 10px;
    margin: 0px;
    justify-content: space-around;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.foco{
    font-size: 28px;
}

.ingre{
    padding: 10px;
    margin: 0px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #333;
}

.gallery{
    padding: 10px;
    margin: 0px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #333;
}

.info{
    padding: 10px;
    margin: 0px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #333;
}

img{
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}